wheel
setuptools
fastapi==0.115.0
uvicorn[standard]==0.30.6

SQLAlchemy==2.0.35
asyncpg==0.29.0
alembic==1.13.2

pydantic==2.8.2
email-validator==2.2.0
pydantic-settings==2.4.0

python-jose==3.3.0

PyMuPDF==1.24.10
pytesseract==0.3.13

google-generativeai

APScheduler==3.10.4

python-dateutil==2.9.0.post0
python-multipart==0.0.12

pytest==8.3.2
pytest-asyncio==0.23.8

psycopg2-binary

